Blockchain/Remix_offline

Raw/Python/django_todo_list_DI2/venv
Raw/Python/django_todo_list_DI2/.secrets

Raw\Python\todo_drf_DI1\venv
Raw/Python/todo_drf_DI1/.idea
Raw\Python\todo_drf_DI1\db.sqlite3
Raw\Python\todo_drf_DI1\frontend\node_modules
Raw\Python\todo_drf_DI1\frontend\.pnp
Raw\Python\todo_drf_DI1\frontend\.pnp.js
Raw\Python\todo_drf_DI1\frontend\coverage
Raw\Python\todo_drf_DI1\frontend\build
Raw\Python\todo_drf_DI1\frontend\.DS_Store
Raw\Python\todo_drf_DI1\frontend\.env.local
Raw\Python\todo_drf_DI1\frontend\.env.development.local
Raw\Python\todo_drf_DI1\frontend\.env.test.local
Raw\Python\todo_drf_DI1\frontend\.env.production.local
Raw\Python\todo_drf_DI1\frontend\build
npm-debug.log*
yarn-debug.log*
yarn-error.log*

Raw/Python/pantryapp/.idea
Raw/Python/pantryapp/venv
Raw/Python/pantryapp/.env
Raw/Python/pantryapp/db.sqlite3
Raw/Python/pantryapp/__pycache__
Raw/Python/pantryapp/.DS_Store
Raw/Python/pantryapp/*.pyc
Raw/Python/pantryapp/*~
Raw/Python/pantryapp/static

Raw/Python/td32/try-django/bin
Raw/Python/td32/try-django/include
Raw/Python/td32/try-django/lib
Raw/Python/td32/try-django/lib64
Raw/Python/td32/try-django/pyvenv.cfg
Raw/Python/td32/try-django/trydjango/__pycache__
Raw/Python/td32/try-django/accounts/__pycache__
Raw/Python/td32/try-django/articles/__pycache__
Raw/Python/td32/try-django/db.sqlite3
Raw/Python/td32/try-django/.env
Raw/Python/td32/try-django/staticfiles-cdn

# study_budy
Raw/Python/study_budy/env
Raw/Python/study_budy/studybudy/__pycache__
Raw/Python/study_budy/base/__pycache__
Raw/Python/study_budy/.env
Raw/Python/study_budy/db.sqlite3
Raw/Python/study_budy/base/migrations/__pycache__
Raw/Python/stdbd_customerusermodel/env
Raw/Python/stdbd_customerusermodel/db.sqlite3
Raw/Python/study_budy/db copy.sqlite3

# kurs-react-od-podstaw
Raw/JavaScript-React/kurs-react-od-podstaw/01/.DS_Store
Raw/JavaScript-React/kurs-react-od-podstaw/01/.AppleDouble
Raw/JavaScript-React/kurs-react-od-podstaw/01/.LSOverride
Raw/JavaScript-React/kurs-react-od-podstaw/01/node_modules
Raw/JavaScript-React/kurs-react-od-podstaw/02/.DS_Store
Raw/JavaScript-React/kurs-react-od-podstaw/02/.AppleDouble
Raw/JavaScript-React/kurs-react-od-podstaw/02/.LSOverride
Raw/JavaScript-React/kurs-react-od-podstaw/02/node_modules
Raw/JavaScript-React/kurs-react-od-podstaw/03/node_modules
Raw/JavaScript-React/kurs-react-od-podstaw/04/node_modules
Raw/JavaScript-React/kurs-react-od-podstaw/05/node_modules
Raw/JavaScript-React/kurs-react-od-podstaw/06/node_modules
Raw/JavaScript-React/kurs-react-od-podstaw/07/node_modules

# Automate_the_boring_stuff_2020
Raw/Python/Automate_the_boring_stuff_2020/temp

# SolidityBlockchainSmartContract
Blockchain/SolidityBlockchainSmartContract/L5/brownie_simple_storage/brownie

Raw/Python/30_Days_of_Python/30DoP
30dopvenv
Raw/Python/30_Days_of_Python/Day_15-automated_video_processing_with_Moviepy/data/samples/outputs

#global
venv
node_modules
.env
build
sbscenv

# Local Netlify folder
.netlify
Day_16-Scrape_and_Automate_Selenium/data
