<h1>{{request.user|title}} Shopping list</h1>
{% if request.user.is_authenticated %}
    <a href="{% url 'logout' %}">Logout</a>
{% else %}
    <a href="{% url 'login'%}">Login</a>
{% endif %}
<h3>To buy: {{count}}</h3>
<div>
    <a href="{% url 'item-create' %}">Add</a>
</div>
{% for item in items %}
    <div>
        {% if item.complete %}
            <div>
                <div>
                    <s><a href="{% url 'item-update' item.id %}">{{item}} {{item.quantity}} {{item.unit}} {{item.category}}</a></s>
                </div>
                <i><s><a>{{item.note}}</a></s></i>
            </div>
            <a href="{% url 'item-delete' item.id %}">Delete</a>
            <br>
        {% else %}
            <div>
                <div>
                    <a href="{% url 'item-update' item.id %}">{{item}} {{item.quantity}} {{item.unit}} {{item.category}}</a>
                </div>
                <i><a>{{item.note}}</a></i>
            </div>
                <a href="{% url 'item-delete' item.id %}">Delete</a>
            <br>
        {% endif %}
    </div>

{% empty %}
    <h3>No items in list</h3>
{% endfor %}
